<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <title>Create Program</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/font-awesome.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/templatemo-training-studio.css') }}">

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#top" class="logo">Coachini<em>.</em></a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <!-- <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                                <li class="scroll-to-section"><a href="/dashboard_coach">My Programs</a></li>  -->
                                <li class="scroll-to-section"><a href="">welcome coach <span class="text-danger">{{user_first_name}}</span></a></li>
                                <li class="main-button">
                                    <form action="/logout" method="post">
                                    <input type="submit" value="Logout" class="btn btn-danger">
                                    </form>
                                </li>
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <section class="section" id="schedule">
        <div class="container p-2">
            <div class="d-flex justify-content-between text-light p-5">
                <h2>Create my program</h2>
            </div>
            <div class="row d-flex justify-content-center text-light">
                <div class="col-7">
                    <form action="/programs/create" method="post">
                        <div class="form-group mb-3">
                            <label for="">Program Name :</label>
                            <input type="text" class="form-control" name="program_name">
                            {% for message in get_flashed_messages(category_filter=["program_name"]) %}
                            <span class="text-danger">{{message}}</span>
                            {% endfor %}
                        </div>
                        <div class="form-group mb-3">
                            <label for="">Program for:</label>
                            <select name="bmi" id="" class="form-control">
                                <option value="">--Select your category--</option>
                                {%for bmi in bmis%}
                                <option value="{{bmi.id}}">{{bmi.min_range}}-{{bmi.max_range}} | {{bmi.category_name}}
                                </option>
                                {%endfor%}
                            </select>
                            {% for message in get_flashed_messages(category_filter=["bmi"]) %}
                            <span class="text-danger">{{message}}</span>
                            {% endfor %}
                        </div>
                        <div class="form-group mb-3">
                            <label for="">Duration:(week)</label>
                            <input type="number" class="form-control" name="duration">
                            {% for message in get_flashed_messages(category_filter=["duration"]) %}
                            <span class="text-danger">{{message}}</span>
                            {% endfor %}
                        </div>
                        <div class="form-group mb-3">
                            <label for="">Description</label>
                            <textarea name="description" id="" cols="30" rows="4" class="form-control"></textarea>
                            {% for message in get_flashed_messages(category_filter=["description"]) %}
                            <span class="text-danger">{{message}}</span>
                            {% endfor %}
                        </div>
                        <div class="d-block form-group mb-3">
                            <label>Days Name :</label>
                            <div class="d-flex justify-content-between mb-2">
                                <input type="text" name="day_1" id="textInput1">
                                <div>
                                    <input type="checkbox" name="day_off_1" onchange="toggleInput(this, 'textInput1')"> Day
                                    off
                                </div>
                            </div>
                            {% for message in get_flashed_messages(category_filter=["day_one"]) %}
                            <span class="text-danger">{{message}}</span>
                            {% endfor %}
    
                            <div class="d-flex justify-content-between mb-2">
                                <input type="text" name="day_2" id="textInput2">
                                <div>
                                    <input type="checkbox" name="day_off_2" onchange="toggleInput(this, 'textInput2')"> Day
                                    off
                                </div>
                            </div>
                            {% for message in get_flashed_messages(category_filter=["day_two"]) %}
                            <span class="text-danger">{{message}}</span>
                            {% endfor %}
                            <div class="d-flex justify-content-between mb-2">
                                <input type="text" name="day_3" id="textInput3">
                                <div>
                                    <input type="checkbox" name="day_off_3" onchange="toggleInput(this, 'textInput3')"> Day
                                    off
                                </div>
                            </div>
                            {% for message in get_flashed_messages(category_filter=["day_three"]) %}
                            <span class="text-danger">{{message}}</span>
                            {% endfor %}
                            <div class="d-flex justify-content-between mb-2">
                                <input type="text" name="day_4" id="textInput4">
                                <div>
                                    <input type="checkbox" name="day_off_4" onchange="toggleInput(this, 'textInput4')"> Day
                                    off
                                </div>
                            </div>
                            {% for message in get_flashed_messages(category_filter=["day_four"]) %}
                            <span class="text-danger">{{message}}</span>
                            {% endfor %}
                            <div class="d-flex justify-content-between mb-2">
                                <input type="text" name="day_5" id="textInput5">
                                <div>
                                    <input type="checkbox" name="day_off_5" onchange="toggleInput(this, 'textInput5')"> Day
                                    off
                                </div>
                            </div>
                            {% for message in get_flashed_messages(category_filter=["day_five"]) %}
                            <span class="text-danger">{{message}}</span>
                            {% endfor %}
                            <div class="d-flex justify-content-between mb-2">
                                <input type="text" name="day_6" id="textInput6">
                                <div>
                                    <input type="checkbox" name="day_off_6" onchange="toggleInput(this, 'textInput6')"> Day
                                    off
                                </div>
                            </div>
                            {% for message in get_flashed_messages(category_filter=["day_six"]) %}
                            <span class="text-danger">{{message}}</span>
                            {% endfor %}
                            <div class="d-flex justify-content-between mb-2">
                                <input type="text" name="day_7" id="textInput7">
                                <div>
                                    <input type="checkbox" name="day_off_7" onchange="toggleInput(this, 'textInput7')"> Day
                                    off
                                </div>
                            </div>
                            {% for message in get_flashed_messages(category_filter=["day_seven"]) %}
                            <span class="text-danger">{{message}}</span>
                            {% endfor %}
                        </div>
                        <div class="d-flex justify-content-end gap-3">
                            <input type="submit" value="Create" class="btn btn-lg btn-success mr-2">
                            <a href="/dashboard_coach" class="btn btn-lg btn-danger ml-2">Cancel</a>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </section>

    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; 2023 COACHINI
                    
                    - Designed by <a rel="nofollow" href="" class="tm-text-link" target="_parent">SHARKS.Limited</a></p>
                    
                    <!-- You shall support us a little via PayPal to info@templatemo.com -->
                    
                </div>
            </div>
        </div>
    </footer>

    <!-- Main JS -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='assets/js/jquery-2.1.0.min.js') }}
    "></script>

    <!-- Bootstrap -->
    <script src="{{ url_for('static', filename='assets/js/popper.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>

    <!-- Plugins -->
    <script src="{{ url_for('static', filename='assets/js/scrollreveal.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.counterup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/imgfix.min.js') }}"></script> 
    <script src="{{ url_for('static', filename='assets/js/mixitup.js') }}"></script> 
    <script src="{{ url_for('static', filename='assets/js/accordions.js') }}"></script>
    
    <!-- Global Init -->
    <script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>

</body>
</html>