<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <title>Create Program</title>
</head>

<body>
    <div class="container p-2">
        <div class="d-flex justify-content-between">
            <h2>Create my program</h2>
            <div class="d-flex gap-2">
                <a href="/dashboard_coach" class="btn btn-primary">My Programs</a>

                <form action="/logout" method="post">
                    <input type="submit" value="Logout" class="btn btn-danger">
                </form>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-7">
                <form action="/programs/create" method="post">
                    <div class="form-group mb-3">
                        <label for="">Program Name :</label>
                        <input type="text" class="form-control" name="program_name">
                        {% for message in get_flashed_messages(category_filter=["program_name"]) %}
                        <span class="text-danger">{{message}}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group mb-3">
                        <label for="">Program for:</label>
                        <select name="bmi" id="" class="form-control">
                            <option value="">--Select your category--</option>
                            {%for bmi in bmis%}
                            <option value="{{bmi.id}}">{{bmi.min_range}}-{{bmi.max_range}} | {{bmi.category_name}}
                            </option>
                            {%endfor%}
                        </select>
                        {% for message in get_flashed_messages(category_filter=["bmi"]) %}
                        <span class="text-danger">{{message}}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group mb-3">
                        <label for="">Duration:(week)</label>
                        <input type="number" class="form-control" name="duration">
                        {% for message in get_flashed_messages(category_filter=["duration"]) %}
                        <span class="text-danger">{{message}}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group mb-3">
                        <label for="">Description</label>
                        <textarea name="description" id="" cols="30" rows="4" class="form-control"></textarea>
                        {% for message in get_flashed_messages(category_filter=["description"]) %}
                        <span class="text-danger">{{message}}</span>
                        {% endfor %}
                    </div>
                    <div class="d-block form-group mb-3">
                        <label>Days Name :</label>
                        <div class="d-flex gap-5">
                            <input type="text" name="day_1" id="textInput1">
                            <div>
                                <input type="checkbox" name="day_off_1" onchange="toggleInput(this, 'textInput1')"> Day
                                off
                            </div>
                        </div>
                        {% for message in get_flashed_messages(category_filter=["day_one"]) %}
                        <span class="text-danger">{{message}}</span>
                        {% endfor %}

                        <div class="d-flex gap-5">
                            <input type="text" name="day_2" id="textInput2">
                            <div>
                                <input type="checkbox" name="day_off_2" onchange="toggleInput(this, 'textInput2')"> Day
                                off
                            </div>
                        </div>
                        {% for message in get_flashed_messages(category_filter=["day_two"]) %}
                        <span class="text-danger">{{message}}</span>
                        {% endfor %}
                        <div class="d-flex gap-5">
                            <input type="text" name="day_3" id="textInput3">
                            <div>
                                <input type="checkbox" name="day_off_3" onchange="toggleInput(this, 'textInput3')"> Day
                                off
                            </div>
                        </div>
                        {% for message in get_flashed_messages(category_filter=["day_three"]) %}
                        <span class="text-danger">{{message}}</span>
                        {% endfor %}
                        <div class="d-flex gap-5">
                            <input type="text" name="day_4" id="textInput4">
                            <div>
                                <input type="checkbox" name="day_off_4" onchange="toggleInput(this, 'textInput4')"> Day
                                off
                            </div>
                        </div>
                        {% for message in get_flashed_messages(category_filter=["day_four"]) %}
                        <span class="text-danger">{{message}}</span>
                        {% endfor %}
                        <div class="d-flex gap-5">
                            <input type="text" name="day_5" id="textInput5">
                            <div>
                                <input type="checkbox" name="day_off_5" onchange="toggleInput(this, 'textInput5')"> Day
                                off
                            </div>
                        </div>
                        {% for message in get_flashed_messages(category_filter=["day_five"]) %}
                        <span class="text-danger">{{message}}</span>
                        {% endfor %}
                        <div class="d-flex gap-5">
                            <input type="text" name="day_6" id="textInput6">
                            <div>
                                <input type="checkbox" name="day_off_6" onchange="toggleInput(this, 'textInput6')"> Day
                                off
                            </div>
                        </div>
                        {% for message in get_flashed_messages(category_filter=["day_six"]) %}
                        <span class="text-danger">{{message}}</span>
                        {% endfor %}
                        <div class="d-flex gap-5">
                            <input type="text" name="day_7" id="textInput7">
                            <div>
                                <input type="checkbox" name="day_off_7" onchange="toggleInput(this, 'textInput7')"> Day
                                off
                            </div>
                        </div>
                        {% for message in get_flashed_messages(category_filter=["day_seven"]) %}
                        <span class="text-danger">{{message}}</span>
                        {% endfor %}
                    </div>
                    <input type="submit" value="Create" class="btn btn-lg btn-info">
                </form>
            </div>
        </div>
    </div>
</body>

</html>